body {
  margin-top:10px;
}
.flex-nav-container{
  width: 800px;
  margin:auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.flex-nav-container a {
  text-decoration: none;
}

.main{
  width: 100%;
  background-color: #495e57;
  padding: 10px;

}
.main-container{
  /* width: 800px;
  margin: auto;
  color: white; */
}



.flex-main-container{
  width: 800px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.flex-main-container h1 {
  color: #F4CE14;
}
.btnSubmit{
  background-color: #F4CE14;
  border: #F4CE14;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-weight: bold ;
}
article{
  max-width: 40ch;
}

.restPic{
  float: right;
  height: 250px;
  width: 220px;
  border-radius: 10%;

}

/* ****************************************** */
.mainMenu{
  width: 800px;
  margin: auto;
}

.mainMenuContainer{
  display: flex;
  justify-content: space-between;
}
.menuBtnContainer{
  padding-top: 30px;
 }
 .menuBtn{
  background-color: #F4CE14;
  border: #F4CE14;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-weight: bold;
 }


 .menu-list{
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;

 }


 .itemsImage{
  height: auto;
  width: 250px;
  border-radius: 15px;
 }
 .ig3{
  height: 168px;
 }

 .oh{
  float: right;
  color: lightsalmon;

 }
 .check{
  padding: 15px;
 }
 .texting{
  font-weight: bold;
 }

 .menuItems{
  margin: 10px 0px;
  border-radius: 10px;
  background-color: lightgrey;
 }


 p{
  max-width: 20ch;
 }
/* ********************************************* */
 .main-Center{
  width: 100%;
  margin: auto;
  background-color: lightgrey;
 }
 .center{
  text-align: center;
 }

 .testimonial-menu{
  width: 800px;
  padding: 30px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
 }
.tItems h3{
  color: #F4CE14;
}
 .tItems{
  height: 200px;
  width: 200px;
  background-color: #495e57;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;;
  
 }
.starRatingImg{
  height: 100px;
}
.userProfileImg{
  height: 80px;
  border-radius: 10px;
}

.chefMenu{
  width: 800px;
  margin: auto;
}
.flexChefMenu{
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.flexChefMenu p{
  max-width: 30ch;
}
.chefImg{
  height: 300px;
  width: 400px;
  border-radius: 15px;
}


/* ************************************************ */

.footer{
  width: 100%;
  background-color: lightgray;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footerContainer {
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: space-between;
  /* background-color: aqua; */
}
.footer-Img{
  height: 150px;
  width: 70px;
  padding-top: 20px;
 }

.footerContainer .footerDiv{
  padding: 0%;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
